body, div, p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Open Sans Condensed', sans-serif !important;
}

#sp-top-bar {
    padding: 8px 0 0;
    font-size: 17px;
    background: #0707074f;
    color: #AAAAAA;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 50px;
}
#sp-top-bar .sp-module {
    display: inline-block;
    margin: 0 0 0 8px;
}
.sp-megamenu-parent>li>a {
    color: #fff;
    font-weight: 500;
    font-size:18px;
    letter-spacing: 2px;
}

#sp-header {
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 99;
    box-shadow: 0 0 3px 0 rgb(255 255 255 / 26%);
    animation: spFadeIn 0.5s;
    background: #07070717;
    top: 50px;
}

.burger-icon>span {
    background-color: #fff;
}

#whatsapp_widget {display: flex;justify-content: center;align-items: center;z-index:9999; position: fixed; right: 20px; bottom:20px; width: 50px; height: 50px;  background-color: #FFF; border-radius: 50px; box-shadow: 0px 6px 25px rgb(0 0 0 / 25%) }
#whatsapp_widget svg {margin:2px 1px 0 0;transition: height 0.4s; height: 90%; fill: #27D246;}
#whatsapp_widget:hover svg {height: 95%;}
#whatsapp_widget>span{color: #454545;
    margin-right: 10px;
    font-size: 16px;
    /*font-family: 'Font Awesome 5 Free';*/
    
}
#whatsapp_widget{width: unset; padding: 0 0 0 15px;}
#whatsapp_widget {
    animation: 3s radial-pulse 10s infinite;
    /*border: 2px solid #00000030;*/
    box-shadow: 3px 4px 4px #00000045;
}

.sp-scroll-up {
    bottom: 80px;
}
.ba-forms-lightbox-row i {
    padding: 0 20px !important;
}

.ba-page-items {
    margin: -30px 0 0 0;
}

.sppb-addon-image-overlay-icon:active, .sppb-addon-image-overlay-icon:focus, .sppb-addon-image-overlay-icon:hover {
    background: #0ba616;
}
.sppb-addon-image-overlay-icon:hover {
    background: #0ba616;
}

.sppb-addon-image-overlay {
    background-color: rgb(62 127 45 / 54%)!important;
}

#sppb-addon-wrapper-1651376205101,
#sppb-addon-wrapper-1651410931550,
#sppb-addon-wrapper-1651410931619,
#sppb-addon-wrapper-1651410931642 {
    bottom: 33px;
}

#sp-top2 {
    margin: 0;
    padding: 0;
}

.offcanvas-menu .d-flex.align-items-center.p-3.pt-4 {
    background: #388a2c;
}

a.sppb-btn {
    border: 2px solid #147f02;
}

.sppb-btn,
.sppb-sp-slider-button,
#whatsapp_widget span {
  /*width: 100%;
  max-width: 280px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  margin-bottom: 30px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #eb9f11;
  box-shadow: 0 3px 3px #be8316;
  cursor: pointer;
  text-decoration: none;*/
 
  /* Важные стили для анимации */
  position: relative;
  overflow: hidden;
}
 
.sppb-btn:after,
.sppb-sp-slider-button:after,
#whatsapp_widget span:after {
  content: "";
  display: block;
  width: 20px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.5) 100%
  );
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  animation: movingFlare 3s ease-in-out 0.02s infinite;
}



 
@keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

#section-id-1653027657755 img {
    box-shadow: 2px 2px 6px #00000073;
}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        /*max-width: 1140px;*/
    }
}

@media (min-width: 992px) and (max-width: 1400px) { 
    #section-id-1584946489792 h6.sppb-addon-title {
        font-size: 16px;
        padding-left: 0px;
    }
    #section-id-1584946489792 .pull-left {
        display: none;
    }
}

@media (max-width: 480px) {
    #sppb-addon-1584946526278 h2.sppb-addon-title {
        margin-top: 70px;
    }
    #whatsapp_widget>span {
        display: none;
    }
    #whatsapp_widget {
        padding: 0 0 0 1px;
    }
    #sp-top1 {
        display: none;
    }
    .sp-contact-info li.sp-contact-time {
        display: none;
    }
    #sppb-addon-1584946491814,
    #sppb-addon-1651211814347,
    #sppb-addon-1651211814696,
    #sppb-addon-1651211815061,
    #sppb-addon-1651211815258,
    #sppb-addon-1651208802910 {
        min-height: 40px;
    }
    
    #sppb-addon-wrapper-1651376589661 {
        margin-top: 20px;
    }
    #sppb-addon-1651376205067 {
        padding: 15px 0px;
    }
    #sppb-addon-1651376205067 .sp-slider .sp-slider-content-wrap {
        width: 100%;
    }
    #sppb-addon-1651376205069 .sp-slider .sp-slider-content-wrap {
        width: 100%;
    }
    #sppb-addon-1651376205069 {
        padding: 15px 0px;
    }
    .sp-slider #sp-slider-item-1651376205069-num-0-key #sp-slider-inner-item-1651376205070-num-1-key {
        font-size: 24px;
        line-height: 27px;
        margin: 7px 0 -20px 0;
        padding: 0px 0px 0px 40px;
    }
    .sp-slider #sp-slider-item-1651376205069-num-0-key #sp-slider-inner-item-1651376205070-num-3-key.sppb-sp-slider-button .sp-slider-btn-text {
        padding: 20px 20px 20px 20px;
    }
    #sppb-addon-1585109559069 .sppb-carousel-extended-nav-control .nav-control {
        margin: 0px;
        height: 50px;
        line-height: 50px;
        width: 50px;
        background: #ffffff;
        color: #147f02;
        font-size: 30px;
        border-color: rgba(255, 255, 255, 0);
        border-radius: 100px;
    }
    #sppb-addon-1651376205080 .sppb-addon-title {
        margin-bottom: -60px;
    }
    #sppb-addon-1651376205090 .sppb-text-left {
        font-size: 20px;
    }
    #sppb-addon-1650434828453 .sppb-addon-content {
        font-size: 18px;
    }
    .logo-image-phone {
        height: 50px!important;
    }
    
    #sppb-addon-wrapper-1651376205101,
    #sppb-addon-wrapper-1651410931550,
    #sppb-addon-wrapper-1651410931619,
    #sppb-addon-wrapper-1651410931642 {
        bottom: 10px;
    }
    
    .sp-slider-btn-text {
        font-size: 12px!important;
        line-height: 15px!important;
        text-align: center!important;
        padding: 9px 20px!important;
        max-width: 250px!important;
    }
    
    #sppb-addon-1648990495881 {
        margin-bottom: 30px;
    }

}

